<div class="widget widget-tags">
  <h2 class="widget-title">{{section.settings.shop_by_tag_title}}</h2>
  <ul class="list-unstyled wg-list-tags d-flex flex-wrap">
    {% for tag in collection.all_tags %}
    <li>{{ tag | link_to_tag: tag }}</li>
    {% endfor %}
  </ul>
</div>