<div class="widget widget-search">
  <h2 class="widget-title">{{section.settings.shop_by_search_title}}</h2>
  <form class="wg-search-form" action="/search">
    <input type="text" placeholder="{{section.settings.shop_by_search_placeholder}}" name="q" value="{{ search.terms | escape }}"  />
    <input type="submit" value="" /><i class="{{section.settings.shop_by_icon_search}}"></i>
  </form>

</div>