<div class="col-12">
  <div class="product-item-v1">
    <div class="product">
      <div class="product-image">
        <img src="//placehold.it/413x466" class="img-fluid w-100">
        <div class="product-icon justify-content-center d-flex">
          <div class="quick-view d-none d-md-block">
            <a href="javascript:void(0)" class="ti-search"></a>
          </div>
          <div class="add-to-cart-button">
            <a href="#" class="text-center lnr lnr-cart"></a>
          </div>
          <div class="wish-list d-none d-md-block">
            <i class="ti-heart"></i>
          </div>
        </div>
        <div class="product-bubble product-bubble-right d-flex flex-column align-items-center">
          <span>-30%</span>
        </div>
      </div>
      <div class="product-info">
        <p>Men's Running Shoe</p>
        <div class="star-rating">
          <span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </div>
        <h6 class="product-name"><a href="#">Example Product</a></h6>
        <div class="product-price"><ins>$56.89</ins><del>$66.99</del></div>
      </div>
    </div>
  </div>
</div>