<div class="col-12">
  <div class="product-item-v2">
    <div class="product row">
      <div class="col-12 col-lg-6">
        <div class="product-image">
          <a href="#" class="d-block overflow-hidden">
            <img src="//placehold.it/413x466" class="img-fluid w-100">
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="product-info">
          <p>Men's Running Shoe</p>
          <div class="star-rating">
            <span>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
          <h6 class="product-name"><a href="#">Example Product</a></h6>
          <div class="product-price">$66.99<span>$56.89</span></div>
        </div>
      </div>
    </div>
  </div>
</div>