<div class="col-12">
  <div class="product-item-v3">
    <div class="product row">
      <div class="col-12 col-sm-6">
        <div class="product-image">
          <img src="//placehold.it/413x466" class="img-fluid w-100">
          <div class="product-bubble product-bubble-right d-flex flex-column align-items-center">
            <span>-30%</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="product-info">
          <p>Men's Running Shoe</p>
          <div class="star-rating">
            <span>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
          <h6 class="product-name"><a href="#">Example Product</a></h6>
          <div class="product-price"><ins>$56.89</ins><del>$66.99</del></div>
          <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </span>
          <div class="product-icon justify-content-center d-flex">
            <div class="quick-view d-none d-md-block">
              <a href="javascript:void(0)" class="ti-search"></a>
            </div>
            <div class="add-to-cart-button">
              <a href="#" class="text-center">Add to cart</a>
            </div>
            <div class="wish-list d-none d-md-block">
              <i class="ti-heart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>