<!-- /snippets/product-quick-view.liquid -->
<div id="quick-view" class="hidden-label br-product-popup">
  <div class="overlay no-background"></div>
  <div class="content product-quickview product-single br-product br-product-detail br-product-slide-vertical">
    <div class="row">
      <div class="col-6">
        <div class="product-media thumbnai-left">
          <div class="featured-image d-none product-single-photos br-product__media br-product-slide-vertical-image pb-0"></div>
          <div class="more-views owl-carousel-play {% if settings.enable_rtl %}engoc_no_rtl{% endif %}">
            <div class="engoc_hide_owl_control owl-carousel"  data-items="4" data-dots="false" data-lazyLoad="true" data-nav="true" data-autoHeight="false"></div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="br-product-detail__container detail-info">
          <div class="product-shop product-info-main">
            <div class="product-item">
              <h2 class="product-name"><a>&nbsp;</a></h2>

              <div class="details clearfix">
                <form action="/cart/add" method="post" class="variants CartContainer">
                  <div class="d-flex justify-content-between">
                  <div class="prices product-price dosis-font variation-price mb-15"> 
                    <label class="price product-price">                 
                    <span class="compare-price dark opaci title14"></span>
                    </label>
                  </div>
                  
                  <div class="star-rating">
                    <span class="shopify-product-reviews-badge" data-id=""></span>
                  </div>
                  </div>
                  <p class="des description desc product-desc"></p>

                  
                  <select name='id' style="display:none;" class="engoj-except-select2">

                  </select>

                  <div class="product-actions">
                    <div class="product-quantity">
                      
                      <div class="quantity-all js-qty">
                        <span  class='qtyminus js-qty__adjust js-qty__adjust--minus' data-field='quantity'><i class="lnr lnr-chevron-down"></i></span>
                        <input type="text" name="quantity" value="1" class="qty quantity js-qty__num">
                        <span class='qtyplus js-qty__adjust js-qty__adjust--plus' data-field='quantity'><i class="lnr lnr-chevron-up"></i></span>
                      </div>
                    </div>

                    <div class="actions">
                      <button type="submit" class="btn-addToCart shop-button addcart-link font-bold">{{ 'products.product.add_to_cart' | t }}</button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close-window"><i class="ti-close"></i></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  Shopify.doNotTriggerClickOnThumb = false;
</script>
